body {
    background-color: hsl(180, 52%, 96%);
    font-family: Spartan;
  }
  h3 {
    color: hsl(180, 29%, 50%); 
  }
  .topo{
    background-image: url(../Imagens/bg-header-desktop.svg);
  }
  .corpo{
    background-color: hsl(180, 29%, 50%);
  }
  .aba{
    border: 1px solid #000;
    background-color: hsl(180, 31%, 95%);
    padding: 10px;
    
  }