* {
  margin: 0 auto;
  padding:0;
}

body {
  background-color: hsl(180, 52%, 96%);
  font-family: Spartan;
  font-family: Spartan;
}
h3 {
  color: hsl(180, 29%, 50%); 
}
.topo{
height: 156px;
  background-image: url(../Imagens/bg-header-desktop.svg);
background-color: hsl(180, 29%, 50%);
}
.corpo{
  background-color: hsl(180, 52%, 96%);
padding: 5px;
}
.container{
height: 100%;
width: 100%;
margin-top: 5%;

}
.aba{
width: 80%;
height: 150px;
  background: rgba(255,255,255,1.00);
margin-top: 2%;
box-shadow: 5px 5px 10px 0.5px rgb(123,142,142,0.25);
border-radius: 6px;
}
.aba img{
padding: 30px 30px 30px;
}
.borda{
border-left: 5px solid #5BA4A4;
}
section{
margin:-125px 140px;
width: 100px;
height: 50px;
position: relative;

}