* {
  margin: 0 auto;
  padding:0;
}

body {
  background-color: hsl(180, 52%, 96%);
  font-family: 'Spartan', sans-serif;
}
h3 {
  color: hsl(180, 29%, 50%); 
}
p{
  color: hsl(180, 52%, 96%);
  background-color: hsl(180, 29%, 50%);
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 2px;
  border-radius: 20px;
  margin-left: 10px;
}
.topo{
  width: 1440px;
  height: 156px;
  background-image: url(../Imagens/bg-header-desktop.svg);
  background-color: hsl(180, 29%, 50%);
}
.corpo{
  background-color: hsl(180, 52%, 96%);
  padding: 5px;
}
.container{
  height: 90%;
  width: 80%;
  margin-top: 5%;
}
.aba{
  width: 80%;
  height: 150px;
  background: rgba(255,255,255,1.00);
  margin-top: 2%;
  box-shadow: 5px 5px 10px 0.5px rgb(123,142,142,0.25);
  border-radius: 6px;
}
.aba img{
  padding: 30px 40px 30px;
}
.borda{
  border-left: 5px solid #5BA4A4;
}
section{
  display: flex;
  margin:-120px 150px;
  width: 60px;
  height: 20px;
  position: relative;
}