body {
    background-color: hsl(180, 52%, 96%);
    font-family: Spartan;
  }
  p {
    color: red; 
  }
  .topo{
    background-image: url("imagens/bg-header-desktop.svg");
    background-color: hsl(180, 29%, 50%);
  }
  .corpo{
    background-color: hsl(180, 52%, 96%);
  }
  .aba{
    border: 1px solid #000;
    background-color: hsl(180, 31%, 95%);
    padding: 5px;
    
  }